@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --background: #fffee3;
  --foreground: #830000;
}

html,
body {
  max-width: 100vw;
}

body {
  color: var(--foreground);
  background: var(--background);
}

button,
li {
  cursor: pointer;
}

a {
  color: inherit;
}

input,
textarea {
  border: solid thin rgba(0, 0, 0, 0.192);
  padding: 0 5px;
  border-radius: 5px;
  color: black;
}
